@import url("../../index.module.css");

.forum__header {
    margin-bottom: 50px;
}

.forum__threads {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.forum__thread {
    display: flex;
    padding: 15px 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--island-color);
    border-radius: 5px;
    cursor: pointer;
}

.forum__thread__title {
    font-size: 16px;
    font-weight: 600;
}

.forum__thread__small-info {
    font-size: 11px;
    opacity: 0.6;
}
