.header {
    display: flex;
    padding: 0 20px;
    max-height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #09433B;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.header__nav__list {
    display: flex;
    list-style: none;
    gap: 20px
}