.message {
    position: absolute;
    padding: 20px 30px;
    top: 50px;
    left: 50%;
    background-color: rgb(10, 139, 199);
    border-radius: 15PX;
    transform: translateX(-50%);
}

.message__header {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}